* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
#container {
    width: 100%;
    min-height: 100vh;
    display: flex;
}
.img-sec{
    background: url(pexels-andres-ayrton-6578392%201.png);
    width: 40%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 20px;
    
}
.img_K h1 {
    color: white;
    font-size: 30px;
}
.img_J {
    margin-top: 80%;
}
.img_J h1 {
    color:white;
    line-height: 0px;
    font-size: 20px;

}
.img_J p {
    line-height: 1px;
    font-size: 20px;
    font-style: bold;
    color: white;
}

.form-sec {
    width: 60%;
    height: 100vh;
    margin: 20px 40px;
}
.logo {
    display: flex;
    justify-content: flex-end;
}
h1 {
    color: #086DB8;
    font-size: 30px;
    Font family: Playfair Display
    Font-style: Bold;    Line-height: 100%;
    Vertical-align: Top;
    padding-bottom: 40px;
}
.form--row  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;;
}
.input-box {
    width: 48%;
    
}
.input-box input{
    width: 100%;
    height: 40px;
    padding: 0 10px;
}
#rad {
    height: 10px;
    width: 20px;
}
.textarea-section {
    width: 100%;
}
.form--row .textarea-section textarea {
    width: 100%;
}
.button-sec {
    display: flex;
    justify-content: flex-end;
}
.button-sec button {
    height: 30px;
    Font-style: Bold;
    Font-size: 18px;
    padding: 8px 40px;
    color: white;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 10px 0 10px 0;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#contain {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    width: 80%;
    padding: 10px;
}

#header {
    width: 100%;
    padding: 40px 0;
    font-size: 20px;
    font-weight: 600;
    
}

#header h2 {
    display: block;
    color: black;
    text-align: center;
}
.top-sec {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70vh;
    margin-bottom: 100px;
}
.img {
    width: 40%;
    background: url(guyblack.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 450px;
}
#lefty {
    width: 55%;
} 
#lefty p {
    font-size: 15px;
    line-height: 20px;
}
#lefty h1 {
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
    

}
#lefty h1::after {
    display: inline-flex ;
   content: '';
  width: 30%;
  height: 1px;
  background: black;
  position: absolute;
  text-align: center;
    
}
#Contact h1 {
   color: black;


.down-sec {
    width: 90%;
    border: 1px solid black;
    margin: 0 auto;
    padding: 50px 70px;
    box-shadow: 2px 4px 0px rgb(161, 161, 161);

}
.form-sect {
    width: 100%;
    height: 50vh;
    margin: 0 auto;
}
.input-yo {
    width: 100%;
    margin: 30px 0;
}
.input-yo input {
    width: 100%;
    height: 6vh;
}
.input-yo textarea {
    width: 100%;
}
.button-sect {
    width: 100%;
    margin: 60px 0 0 0;
    display: flex;
    justify-content: flex-end;
}
.button-sect button {
    height: 30px;
    Font-style: Bold;
    Font-size: 18px;
    padding: 8px 40px;
    color: white;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 10px 0 10px 0;
    
}
